
<div class="container marketing">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="featurette-panel panel panel-default">
                        <div class="center-block featurette-container">
                            <span class="icon-tech img-circle featurette-icon"></span>
                        </div>
                        <h2>Technology</h2>
                        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <p><a class="btn btn-primary text-uppercase" href="#" role="button">View details &raquo;</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="featurette-panel panel panel-default">
                        <div class="center-block featurette-container">
                            <span class="icon-edu img-circle featurette-icon"></span>
                        </div>
                        <h2>Education</h2>
                        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <p><a class="btn btn-primary text-uppercase" href="#" role="button">View details &raquo;</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="featurette-panel panel panel-default">
                        <div class="center-block featurette-container">
                            <span class="icon-users img-circle featurette-icon"></span>
                        </div>
                        <h2>Community</h2>
                        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <p><a class="btn btn-primary text-uppercase" href="#" role="button">View details &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>