
<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">&nbsp;</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav text-center">
                <li class="active text-uppercase"><a href="#">
                    <span class="nav-item-main">Home</span>
                </a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="nav-item-main">About</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="about.html">Overview</a></li>
                        <li><a href="sponsors.html">Sponsorship</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                        <li role="separator" class="divider hidden-xs hidden-sm"></li>
                        <li class="dropdown-header hidden-xs hidden-sm">Governance</li>
                        <li><a href="legal.html">Constitution</a></li>
                        <li><a href="bylaws.html">Bylaws</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="nav-item-main">Community</span>
                        <span class="caret">
                        </span></a>
                        <ul class="dropdown-menu">
                            <li><a href="events.html#meetups">Meet-ups</a></li>
                            <li><a href="events.html#conf">Conferences</a></li>
                            <li><a href="events.html#collab">Collaborations</a></li>
                            <li role="separator" class="divider hidden-xs hidden-sm"></li>
                            <li><a href="participate.html">Get involved</a></li>
                            <li><a href="coc.html">Code of Conduct</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="nav-item-main">Support us</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="sponsors.html">Sponsorship</a></li>
                            <li><a href="donate.html">Donations</a></li>
                            <li><a href="store.html">Buy Stuff</a></li>
                            <li><a href="thanks.html">Thanks</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="nav-item-main">News</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="http://blog.cuban.tech">
                                    <span class="btn-primary img-circle icon-blogger hidden-xs hidden-sm"></span>
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="http://twitter.com/TheCubanTech">
                                    <span class="btn-primary img-circle icon-twitter hidden-xs hidden-sm"></span>
                                    Twitter feed
                                </a>
                            </li>
                            <li>
                                <a href="http://www.facebook.com/CubanTech">
                                    <span class="btn-primary img-circle icon-fb hidden-xs hidden-sm"></span>
                                    Facebook
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language
                            <div style="color:#249db0 " class="visible-sm-inline-block">(EN)</div>
                            <span
                            class="visible-lg-inline-block" style="color: #249db0">English</span> <span
                            class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#es"><span class="flag flag-es"></span> Español</a></li>
                                <li><a href="#bg"><span class="flag flag-gb"></span> English</a></li>
                                <li><a href="#fr"><span class="flag flag-fr"></span> Français</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <p class="navbar-text text-center social">Follow us</p>
                        <p class="navbar-text social-icons text-center">
                            <a href="https://blog.cuban.tech" class="icon-blogger icon-inverse btn-primary img-circle"></a>
                            <a href="https://twitter.com/TheCubanTech" class="icon-twitter icon-inverse btn-primary img-circle"></a>
                            <a href="https://www.facebook.com/TheCubanTech" class="icon-fb icon-inverse btn-primary img-circle"></a>
                            <a href="#" class="icon-youtube icon-inverse btn-primary img-circle"></a>
                        </p>
                    </ul>
                </div>
            </div>
        </nav>
        
        <router-outlet></router-outlet>

        <footer id="footer">
            <div class="container-fluid">
                <div id="footer-links" class="container text-center">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-2 col-sm-3 col-xs-5">
                            <h4 class="text-uppercase text-info">About</h4>
                            <ul class="list-unstyled">
                                <li><a href="about.html">Overview</a></li>
                                <li><a href="sponsors.html">Sponsorship</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="legal.html">Constitution</a></li>
                                <li><a href="bylaws.html">Bylaws</a></li>
                                <li><a href="privacy.html">Privacy</a></li>
                                <li><a href="tos.html">Terms</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-5">
                            <h4 class="text-uppercase text-info">Support us</h4>
                            <ul class="list-unstyled">
                                <li><a href="sponsors.html">Sponsorship</a></li>
                                <li><a href="donate.html">Donations</a></li>
                                <li><a href="store.html">Buy Stuff</a></li>
                                <li><a href="thanks.html">Thanks</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-10">
                            <h4 class="text-uppercase text-info">Community</h4>
                            <div class="row">
                                <div class="col-xs-6 col-sm-12">
                                    <ul class="list-unstyled">
                                        <li><a href="events.html#meetups">Meet-ups</a></li>
                                        <li><a href="events.html#conf">Conferences</a></li>
                                        <li><a href="events.html#collab">Collaborations</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-6 col-sm-12">
                                    <ul class="list-unstyled">
                                        <li><a href="participate.html">Get involved</a></li>
                                        <li><a href="coc.html">Code of Conduct</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-offset-3 col-md-2 col-sm-offset-2 col-sm-1 hidden-xs">
                            <div id="footer-logo">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div id="footer-copy" class="row bg-primary">
                    <div class="col-md-12">
                        <hr/>
                        <p class="pull-right"><a href="#"><span class="glyphicon glyphicon-chevron-up scroll"></span></a></p>
                        <p class="text-center"> &nbsp; &nbsp; &copy; 2016 The Cuban Tech Group. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>